
  #about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(234, 244, 255, 0.9); 
       border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  #about-container h1 {
    color: #000a15;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  #about-container p, #about-container ul {
    color: #555;
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  #about-container ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  #about-container ul li {
    margin-bottom: 10px;
  }
  
  #about-container a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #about-container a:hover {
    color: #0056b3;
  }
  
  footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #555;
    font-size: 0.9em;
    text-align: center;
  }
  
 
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  